<h1 class="font-bold text-2xl border-b-2 mt-5 mb-5 border-lime-950">PIZZAS</h1>
<div>
  <div class="product_cart relative flex rounded-md border-2 border-[#253517] mb-5 p-2 h-48">
    <div class="w-4/5">
      <h3>Nápole</h3>
      <p>Jamón, Orégano y Tomates Frescos</p>
      <div class="grid grid-cols-2 gap-0 font-semibold">
        <div class="">
          <h4>Mediana</h4>
          <p>10.900</p>
        </div>
        <div>
          <h4>Familiar</h4>
          <p>13.900</p>
        </div>
      </div>
      <button id="startOrder" (click)="toggleCuantity()" class="rounded-md border-2 border-[#25351798] bg-green-100/20 w-14 h-10">
        <fa-icon [icon]="faShoppingBasket" class="text-2xl mx-auto text-green-50">        </fa-icon>
      </button>
      <div id="cuantityOrder" class="col w-[400px] hidden">
        <div class="row">
          <select name="" id="">
            <option value="mediana">Mediana</option>
            <option value="grande">Grande</option>
          </select>
          <select name="adicionales" id="">
            <option value="">Adicionales</option>
            <option value="PapasFritas">Papas Fritas</option>
            <option value="">Jamon</option>
            <option value="">Queso</option>
          </select>
        </div>
        <div class="row">
          <div class="w-24 h-10 border-2 flex border-green-400/10 rounded-md hover:border-3 hover:border-green-200">
            <button (click)="removeCuantity()" class="w-7 rounded-md rounded-r-none bg-green-300/10">
              -
            </button>
            <span class="w-10 leading-10 bg-green-100 text-green-950 text-center">{{ cuantity }}</span>
            <button (click)="addCuantity()" class="rounded-md rounded-l-none bg-green-300/10 w-7">
              +
            </button>
            
          </div>
          <div>
            <button class="w-10 h-10"><fa-icon [icon]="faPenToSquare"></fa-icon></button>
          </div>

        </div>
      </div>
    </div>
    <div class="flex">
      <img src="../../../../../assets/verde-oliva-logotype.jpeg" class="h-[7.2rem] mx-auto rounded-md rounded-l-none hover:absolute hover:w-96 hover:h-96 hover:left-0 hover:bottom-0" alt="" srcset="">
    </div>
  </div>

  <div class="product_cart grid grid-cols-2 ">
    <div class="col-span-3 mb-2">
      <h3>Salame</h3>
      <p>Salame tradicional y merken</p>
      <div class="grid grid-cols-2 gap-0 font-semibold">
        <div class="">
          <h4>Mediana</h4>
          <p>10.900</p>
        </div>
        <div>
          <h4>Familiar</h4>
          <p>13.900</p>
        </div>
      </div>
    </div>
    <div>
      <img src="../../../../../assets/verde-oliva-logotype.jpeg" style="width: 20px; height: 30px;" alt="" srcset="">
    </div>
  </div>

  <div class="product_cart grid grid-cols-2">
    <div class="col-span-3 mb-2">
      <h3>Génova</h3>
      <p>Tomates secos, aceite de albahaca</p>
      <div class="grid grid-cols-2 gap-0 font-semibold">
        <div class="">
          <h4>Mediana</h4>
          <p>11.500</p>
        </div>
        <div>
          <h4>Familiar</h4>
          <p>15.900</p>
        </div>
      </div>
    </div>
    <div>
      <img src="../../../../../assets/verde-oliva-logotype.jpeg" style="width: 20px; height: 30px;" alt="" srcset="">
    </div>
  </div>

  <div class="product_cart grid grid-cols-2">
    <div class="col-span-3 mb-2">
      <h3>Palermo</h3>
      <p>Mechada de vacuno y chimichurri</p>
      <div class="grid grid-cols-2 gap-0 font-semibold">
        <div class="">
          <h4>Mediana</h4>
          <p>12.600</p>
        </div>
        <div>
          <h4>Familiar</h4>
          <p>16.500</p>
        </div>
      </div>
    </div>
    <div>
      <img src="../../../../../assets/verde-oliva-logotype.jpeg" style="width: 20px; height: 30px;" alt="" srcset="">
    </div>
  </div>
  
  <div class="product_cart grid grid-cols-2">
    <div class="col-span-3 mb-2">
      <h3>Florencia</h3>
      <p>Jamón serrano, tomates secos, aceitunas verdes y aceite de rúcula</p>
      <div class="grid grid-cols-2 gap-0 font-semibold">
        <div class="">
          <h4>Mediana</h4>
          <p>13.500</p>
        </div>
        <div>
          <h4>Familiar</h4>
          <p>16.900</p>
        </div>
      </div>
    </div>
    <div>
      <img src="../../../../../assets/verde-oliva-logotype.jpeg" style="width: 20px; height: 30px;" alt="" srcset="">
    </div>
  </div>

  <div class="product_cart grid grid-cols-2">
    <div class="col-span-3 mb-2">
      <h3>Millán</h3>
      <p>Camarones al pil pil con un toque de cilantro</p>
      <div class="grid grid-cols-2 gap-0 font-semibold">
        <div class="">
          <h4>Mediana</h4>
          <p>13.500</p>
        </div>
        <div>
          <h4>Familiar</h4>
          <p>17.900</p>
        </div>
      </div>
    </div>
    <div>
      <img src="../../../../../assets/verde-oliva-logotype.jpeg" style="width: 20px; height: 30px;" alt="" srcset="">
    </div>
  </div>

  <div class="product_cart grid grid-cols-2">
    <div class="col-span-3 mb-2">
      <h3>Lucca</h3>
      <p>Salsa suiza (espinacas), alcachofas y mix de sésamos</p>
      <div class="grid grid-cols-2 gap-0 font-semibold">
        <div class="">
          <h4>Mediana</h4>
          <p>11.500</p>
        </div>
        <div>
          <h4>Familiar</h4>
          <p>14.500</p>
        </div>
      </div>
    </div>
    <div>
      <img src="../../../../../assets/verde-oliva-logotype.jpeg" style="width: 20px; height: 30px;" alt="" srcset="">
    </div>
  </div>

  <div class="product_cart grid grid-cols-2">
    <div class="col-span-3 mb-2">
      <h3>Verona</h3>
      <p>Carne de búrguer, tocino, cheddar, cebolla morada y salsa BBQ.</p>
      <div class="grid grid-cols-2 gap-0 font-semibold">
        <div class="">
          <h4>Mediana</h4>
          <p>12.200</p>
        </div>
        <div>
          <h4>Familiar</h4>
          <p>17.900</p>
        </div>
      </div>
    </div>
    <div>
      <img src="../../../../../assets/verde-oliva-logotype.jpeg" style="width: 20px; height: 30px;" alt="" srcset="">
    </div>
  </div>

  <div class="product_cart grid grid-cols-2">
    <div class="col-span-3 mb-2">
      <h3>Roma</h3>
      <p>Pollo verdeo (con cebollín)</p>
      <div class="grid grid-cols-2 gap-0 font-semibold">
        <div class="">
          <h4>Mediana</h4>
          <p>11.000</p>
        </div>
        <div>
          <h4>Familiar</h4>
          <p>14.900</p>
        </div>
      </div>
    </div>
    <div>
      <img src="../../../../../assets/verde-oliva-logotype.jpeg" style="width: 20px; height: 30px;" alt="" srcset="">
    </div>
  </div>

  <div class="product_cart grid grid-cols-2">
    <div class="col-span-3 mb-2">
      <h3>Siena</h3>
      <p>Pepperoni tradicional.</p>
      <div class="grid grid-cols-2 gap-0 font-semibold">
        <div class="">
          <h4>Mediana</h4>
          <p>10.500</p>
        </div>
        <div>
          <h4>Familiar</h4>
          <p>13.500</p>
        </div>
      </div>
    </div>
    <div>
      <img src="../../../../../assets/verde-oliva-logotype.jpeg" style="width: 20px; height: 30px;" alt="" srcset="">
    </div>
  </div>

  <div class="product_cart grid grid-cols-2">
    <div class="col-span-3 mb-2">
      <h3>Hawaiana</h3>
      <p>Piña en trozos caramelizada, jamón y orégano.</p>
      <div class="grid grid-cols-2 gap-0 font-semibold">
        <div class="">
          <h4>Mediana</h4>
          <p>10.900</p>
        </div>
        <div>
          <h4>Familiar</h4>
          <p>13.900</p>
        </div>
      </div>
    </div>
    <div>
      <img src="../../../../../assets/verde-oliva-logotype.jpeg" style="width: 20px; height: 30px;" alt="" srcset="">
    </div>
  </div>

  <div class="product_cart grid grid-cols-2">
    <div class="col-span-3 mb-2">
      <h3>Vicenza</h3>
      <p>Pollo, champiñones y orégano.</p>
      <div class="grid grid-cols-2 gap-0 font-semibold">
        <div class="">
          <h4>Mediana</h4>
          <p>12.500</p>
        </div>
        <div>
          <h4>Familiar</h4>
          <p>16.900</p>
        </div>
      </div>
    </div>
    <div>
      <img src="../../../../../assets/verde-oliva-logotype.jpeg" style="width: 20px; height: 30px;" alt="" srcset="">
    </div>
  </div>

  <div class="product_cart grid grid-cols-2">
    <div class="col-span-3 mb-2">
      <h3>Veggie</h3>
      <p>Cebolla caramelizada, champiñones, palmitos, cilantro y choclo </p>
      <div class="grid grid-cols-2 gap-0 font-semibold">
        <div class="">
          <h4>Mediana</h4>
          <p>11.500</p>
        </div>
        <div>
          <h4>Familiar</h4>
          <p>14.500</p>
        </div>
      </div>
    </div>
    <div>
      <img src="../../../../../assets/verde-oliva-logotype.jpeg" style="width: 20px; height: 30px;" alt="" srcset="">
    </div>
  </div>

  <div class="product_cart grid grid-cols-2">
    <div class="col-span-3 mb-2">
      <h3>Pompeya</h3>
      <p>Maíz, pollo y tocino</p>
      <div class="grid grid-cols-2 gap-0 font-semibold">
        <div class="">
          <h4>Mediana</h4>
          <p>12.500</p>
        </div>
        <div>
          <h4>Familiar</h4>
          <p>16.500</p>
        </div>
      </div>
    </div>
    <div>
      <img src="../../../../../assets/verde-oliva-logotype.jpeg" style="width: 20px; height: 30px;" alt="" srcset="">
    </div>
  </div>

  <div class="product_cart grid grid-cols-2">
    <div class="col-span-3 mb-2">
      <h3>Verde Oliva</h3>
      <p>Carne de búrguer, pollo en tiras, jamon, tocino, pepperoni, cebolla caramelizada, choclo, cheddar, champiñones, salame, mechada y pimentón.</p>
      <div class="grid grid-cols-2 gap-0 font-semibold">
        <div class="">
          <h4>Mediana</h4>
          <p>14.500</p>
        </div>
        <div>
          <h4>Familiar</h4>
          <p>22.000</p>
        </div>
      </div>
    </div>
  </div>
</div>
