<nav class="w-full h-64 mx-auto grid mb-52 grid-cols-2 grid-rows-3 ">
  <a class="text-base font-bold rounded-xl justify-center items-center flex uppercase border-2 border-green-900 w-40 h-16" href="#pizzas">pizzas</a>
  <a class="text-base font-bold rounded-xl justify-center items-center flex uppercase border-2 border-green-900 w-40 h-16" href="#hamburgers">hamburguesas</a>
  <a class="text-base font-bold rounded-xl justify-center items-center flex uppercase border-2 border-green-900 w-40 h-16" href="#french-fries">papas fritas</a>
  <a class="text-base font-bold rounded-xl justify-center items-center flex uppercase border-2 border-green-900 w-40 h-16" href="#crunch-wings">alitas crunch</a>
  <a class="text-base font-bold rounded-xl justify-center items-center flex uppercase border-2 border-green-900 w-40 h-16" href="#to-share" >compartir</a>
  <a class="text-base font-bold rounded-xl justify-center items-center flex uppercase border-2 border-green-900 w-40 h-16" href="#patacones">patacones</a>
</nav>

