<h1 class="font-bold text-2xl border-b-2 border-lime-950">ALITAS CRUNCH</h1>
<div>
  <div>
    <div class="col-span-3 mb-2">
      <h3 class="font-bold text-lg">Alitas Crunch</h3>
      <p>6 alitas de pollo crocantes, deditos de apio y papas fritas</p>
      <div class="font-semibold">
        <div class="">
          <p>8.900</p>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="col-span-3 mb-2">
      <h3 class="font-bold text-lg">Filetillos Crunch</h3>
      <p>6 filetes de pollo crocantes, deditos de apio y papas fritas</p>
      <div class="font-semibold">
        <div class="">
          <p>8.900</p>
        </div>
      </div>
    </div>
  </div>

  <h3 class="font-bold text-lg">Salsa a elección</h3>
  <p>Salsa BBQ</p>
  <p>Salsa Lau Lau (Reducción, vino tinto y vinagre balsámico)</p>
</div>
