<h1 class="font-bold text-2xl border-b-2 border-lime-950">PATACONES</h1>
<div>
  <div>
    <div class="col-span-3 mb-2">
      <h3 class="font-bold text-lg">Vegetariano</h3>
      <p>Salteado de verduras, salsa de soya, sésamo, champiñones.</p>
      <div class="font-semibold">
        <div class="">
          <p>8.500</p>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="col-span-3 mb-2">
      <h3 class="font-bold text-lg">Pollo</h3>
      <p>Pollo mechado, queso y salsa criolla.</p>
      <div class="font-semibold">
        <div class="">
          <p>8.990</p>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="col-span-3 mb-2">
      <h3 class="font-bold text-lg">Mechado</h3>
      <p>Carne mechada, queso y guiso de cebolla, un toque de kétchup</p>
      <div class="font-semibold">
        <div class="">
          <p>8.900</p>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="col-span-3 mb-2">
      <h3 class="font-bold text-lg">Chelenco</h3>
      <p>Hamburguesa, cebolla caramelizada, queso, tomate, lechuga, tocino, kétchup, mayonesa y papas fritas.</p>
      <div class="font-semibold">
        <div class="">
          <p>9.590</p>
        </div>
      </div>
    </div>
  </div>
</div>