<div class="bg-green-900">
    <input type="number" placeholder="id" name="" [(ngModel)]="product.id" id="">
    <input type="text" placeholder="product" name="" [(ngModel)]="product.product" id="">
    <input type="text" placeholder="img" name="" [(ngModel)]="product.product_img" id="">
    <input type="text" placeholder="category" name="" [(ngModel)]="product.product_category" id="">
    <input type="number" placeholder="price" name="" [(ngModel)]="product.product_price" id="">
    <input type="boolean" placeholder="available" name="" [(ngModel)]="product.available" id="">
    <input type="text" placeholder="description" name="" [(ngModel)]="product.product_description" id="">
  
    <button (click)="addProduct">ADD</button>
  </div>
