<h1 class="font-bold text-2xl border-b-2 mt-5 border-lime-950">HAMBURGUESAS</h1>
<div>
  <div>
    <div class="col-span-3 mb-2">
      <h3 class="font-bold text-lg">Pollux</h3>
      <p>Carne, lechuga, tomate, queso cheddar, kétchup, BBQ, mayonesa y papas fritas </p>
      <div class="font-semibold">
        <div class="">
          <p>9.590</p>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="col-span-3 mb-2">
      <h3 class="font-bold text-lg">Castor</h3>
      <p>Carne, tomate, cebolla caramelizada, queso cheddar, kétchup, BBQ, mayonesa, queso mantecoso, salsa de pepinillo y oliva, papas fritas </p>
      <div class="font-semibold">
        <div class="">
          <p>9.590</p>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="col-span-3 mb-2">
      <h3 class="font-bold text-lg">Roosevelt</h3>
      <p>Doble Carne, tomate fresco, aros de cebolla, queso cheddar, tocino, kétchup, BBQ, mayonesa, papas fritas </p>
      <div class="font-semibold">
        <div class="">
          <p>14.590</p>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="col-span-3 mb-2">
      <h3 class="font-bold text-lg">Everest</h3>
      <p>Doble Carne, cebolla, queso cheddar, mayonesa, lechuga, pepinillos, papas fritas. </p>
      <div class="font-semibold">
        <div class="">
          <p>14.590</p>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="col-span-3 mb-2">
      <h3 class="font-bold text-lg">Simpson</h3>
      <p>Pollo apanado, tomate, aros de cebolla, salsa Simpson (crema, mayonesa, yogurt natural, pepinillos, crunch de tocino), papas fritas </p>
      <div class="font-semibold">
        <div class="">
          <p>14.590</p>
        </div>
      </div>
    </div>
  </div>

</div>