<div class=" max-[390px]:h-[844px] max-[412px]:h-[915px] py-[1px] relative max-w-[500px] app-component">
  <div class="m-6 overflow-hidden overflow-y-scroll rounded-md scroll-smooth scroll-p-4 max-[390px]:h-[800px] max-[412px]:h-[865px]">
    <div id="up">
      <app-header></app-header>
    </div>
    <img src="../assets/verde-oliva-transparent.png" alt="" srcset="" class="mb-9 mx-auto w-64 h-64 ">
    <app-products></app-products>
    <app-video-slider></app-video-slider>
    <div id="pizzas">
      <app-pizza></app-pizza>
    </div>
    <div id="french-fries">
      <app-french-fries></app-french-fries>
    </div>
    <div id="hamburgers">
      <app-hamburgers></app-hamburgers>
    </div>
    <div id="crunch-wings">
      <app-crunch-wings></app-crunch-wings>
    </div>
    <div id="patacones">
      <app-patacones></app-patacones>
    </div>
    <div id="to-share">
      <app-to-share></app-to-share>
    </div>
    
    <app-contact></app-contact>
  </div>  
  <app-cart class=""></app-cart>
  <div class="absolute rounded-full bottom-6 right-6 up_button">
    <a href="#up"><fa-icon class="fa-solid fa-bounce fa-xl" [icon]="faArrowUp" style="color: #eaebdb;"></fa-icon></a>
  </div>
</div>