<div class="max-h-screen overflow-y-scroll scroll-smooth scroll-p-6">
  <div class="m-6 overflow-hidden">
    <div id="up">
      <app-header></app-header>
    </div>
    <img src="../assets/verde-oliva-transparent.png" alt="" srcset="" class="mb-24 mt-16">
    <app-products></app-products>
    <div id="pizzas">
      <app-pizza></app-pizza>
    </div>
    <div id="french-fries">
      <app-french-fries></app-french-fries>
    </div>
    <div id="hamburgers">
      <app-hamburgers></app-hamburgers>
    </div>
    <div id="crunch-wings">
      <app-crunch-wings></app-crunch-wings>
    </div>
    <div id="patacones">
      <app-patacones></app-patacones>
    </div>
    <div id="to-share">
      <app-to-share></app-to-share>
    </div>
    
    <app-contact></app-contact>
  </div>  
</div>
<div class="absolute rounded-full bottom-6 right-6 up_button">
  <a href="#up"><fa-icon class="fa-solid fa-bounce fa-xl" [icon]="faArrowUp" style="color: #eaebdb;"></fa-icon></a>
</div>