<div class="h-[68svh] w-[390px] py-[1px] relative app-component">
  <div class="m-6 overflow-hidden overflow-y-scroll rounded-md scroll-smooth scroll-p-4 h-[64svh]">
    <div id="up">
    </div>
    <img src="../assets/verde-oliva-transparent.png" alt="Logo Verde Oliva" srcset="" class="mb-9 mx-auto animate-[pop_3s_infinite] w-64 h-64 ">
    <app-products></app-products>
    <app-video-slider></app-video-slider>
    <div id="pizzas">
      <app-pizza></app-pizza>
    </div>
    <div id="french-fries">
      <app-french-fries></app-french-fries>
    </div>
    <div id="hamburgers">
      <app-hamburgers></app-hamburgers>
    </div>
    <div id="crunch-wings">
      <app-crunch-wings></app-crunch-wings>
    </div>
    <div id="patacones">
      <app-patacones></app-patacones>
    </div>
    <div id="to-share">
      <app-to-share></app-to-share>
    </div>
    
    <app-contact></app-contact>
  </div>  
  <app-cart class=""></app-cart>
  <div class="absolute rounded-full bottom-6 right-6 up_button">
    <a href="#up"><fa-icon class="fa-solid fa-bounce fa-xl" [icon]="faArrowUp" style="color: #eaebdb;"></fa-icon></a>
  </div>
</div>