<div class="slider-container rounded-5 overflow-hidden">
  <div class="slider-content flex" [@slideAnimation]="currentSlide">
    <!-- Add your images here -->
    <img src="../../../assets/VOG-banner-01.jpeg" alt="Image 1" class="w-full h-auto">
    <video src="../../../assets/VOG-banner-02.jpeg" alt="Image 2" class="w-full h-auto" autoplay loop></video>
    <img src="../../../assets/VOG-banner-03.jpeg" alt="Image 3" class="w-full h-auto">
    <!-- Add more images as needed -->
  </div>
</div>
