@tailwind base
@tailwind components
@tailwind utilities

@font-face 
  font-family:'Rig Solid Medium Fill'
  src: url('/assets/Fonts/Rig Solid Medium Fill.woff.ttf')

body
  background-image: url('assets/wallpaper-verde-oliva.jpeg') 
  background-size: cover
  background-repeat: no-repeat

.product_cart
  background: linear-gradient(to bottom, #dbe6c4 5%, #9ba892 100%)
  h3
    text-transform: uppercase
    font-size: 1.125rem
    line-height: 1.75rem
    font-weight: 700
